<h2>List of Questions</h2>
<%= link_to("Add New Question", {:action => 'new'}, :class => 'action new') %>

<table class="table table-hover" summary="Question list">
  <tr>
    <th>ID</th>
    <th>Text</th>
    <th>Current</th>
    <th>Type</th>
		<th>Actions</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td><%= question.text %></td>
    <td><%= question.current ? 'Yes' : 'No' %></td>
		<td><%= question.q_type%></td>
    <td>
      <%= link_to("Edit", {:action => 'edit', :id => question.id})%>
      <%= link_to("Delete", {:action => 'delete', :id => question.id})%>
    </td>
  </tr>
  <% end %>
</table>
