<div class="row text-center">
	<%= form_for(:response, :url => {:controller => 'responses', :action => 'create'}) do |f| %>
		<% @questions.each do |question| %>
		
			<h4><%= question.text %></h4>
		
			<div class="btn-group"> 
				<% question.answer_choices.each do |choice| %>
						<%= f.hidden_field :input, :value => choice.text %>
						<%= f.hidden_field :question_id, :value => question.id %>
						<%= f.submit :class => 'btn btn-default col-xs-6 col-sm-3', :type => :image, :src => choice.image_url %>
				<% end %>
			</div>
	
		<%end%>
	<% end %>
</div>