<div class="Response index">
  <h2>List of Responses</h2>

  <%= link_to("Add New Response", {:action => 'new'}) %>
	<hr />
  <% @responses.each do |response| %>

    <b>Response ID: </b><%= response.id %><br />
		<b>Response: </b><%= response.input %><br />
		<b>Question ID: </b><%= response.question_id %><br />
		<b>User ID: </b><%= response.user_id %><br /> 
		<%= link_to("Show", {:action => 'show', :id => response.id}) %> |
		<%= link_to("Edit", {:action => 'edit', :id => response.id}) %> |
		<%= link_to("Delete", {:action => 'delete', :id => response.id}) %><br />
				
		<br />
	<%end%>