<h2>List of Responses</h2>

<%= link_to("Add New Response", {:action => 'new'}) %>  
<table class="table table-hover" summary="Question list">
  <tr>
    <th>ID</th>
    <th>Response</th>
    <th>Question ID</th>
    <th>User ID</th>
		<th>Actions</th>
  </tr>	
	
	<% @responses.each do |response| %>
   <tr>
		  <td><%= response.id %></td>
			<td><%= response.input %></td>
			<td><%= response.question_id %></td>
			<td><%= response.user_id %></td>
			<td>
				<%= link_to("Edit", {:action => 'edit', :id => response.id}) %>
				<%= link_to("Delete", {:action => 'delete', :id => response.id}) %>
			</td>	
		</tr>
	<%end%>
</table>
