<div class="text-center">
	<%= form_for(:response, :url => {:controller => 'responses', :action => 'create'}) do |f| %>
	
		<% @questions.each do |question| %>
			<h4><%= question.text %></h4><br />
			<%= f.text_field(:input) %>
			<%= f.hidden_field :question_id, :value => question.id %><br /><br />
			<%= f.submit 'Submit', :class => 'btn btn-default' %>
		<% end %>
	<%end%>
</div>