<h2>List of Answer Choices</h2>
<%= link_to("Add New Response", {:action => 'new'}) %>
<table class="table table-hover">
	<tr>
		<th>ID</th>
		<th>Answer Choice</th>
		<th>Question ID</th>
		<th>Image URL</th>
		<th>Actions</th>
	</tr>
		
	<% @answer_choices.each do |choice| %>
	<tr>
    <td><%= choice.id %></td>
		<td><%= choice.text %></td>
		<td><%= choice.question_id %></td>
		<td>...<%= choice.image_url %></td>
		<td>
			<%= link_to("Edit", {:action => 'edit', :id => choice.id}) %> |
			<%= link_to("Delete", {:action => 'destroy', :id => choice.id}) %>
		</td>
	</tr>
	<%end%>
		
</table>