<div class="Answer_choice index">
  <h2>List of Answer Choices</h2>

  <%= link_to("Add New Response", {:action => 'new'}) %>
	<hr />
  <% @answer_choices.each do |choice| %>

    <b>Choice ID: </b><%= choice.id %><br />
		<b>Text: </b><%= choice.text %><br />
		<b>Question ID: </b><%= choice.question_id %><br />
		<b>Image URL: </b><%= choice.image_url %><br />
		<%= link_to("Show", {:action => 'show', :id => choice.id}) %> |
		<%= link_to("Edit", {:action => 'edit', :id => choice.id}) %> |
		<%= link_to("Delete", {:action => 'destroy', :id => choice.id}) %><br />
				
		<br />
	<%end%>