<div class="text-center">
	<div class="btn-group">
		  <div class="btn btn-default <%= 'active' if current_page?(action: 'texterritory-bio') %>"><%= link_to "Texterritory", {:controller => 'about', :action => 'texterritory-bio'} %></div>
		  <div class="btn btn-default <%= 'active' if current_page?(action: 'index') %>"><%= link_to "Artist's Bio", {:controller => 'about'} %></div>
		  <div class="btn btn-default <%= 'active' if current_page?(action: 'contact') %>"><%= link_to "Contact", {:controller => 'about', :action => 'contact'} %></div>
	</div>
	<hr />
</div>