<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Texterritory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Choose Your Own Adventure" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>	
	<style>
		<% if user_signed_in? %>
			main{min-height: 30em;}
			#sidebar{min-height: 30em;}
		<%end%>
	</style>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
			<div class="page-container">
			 <%= render 'layouts/messages' %>

		     <div class="container">
		       <div class="row row-offcanvas row-offcanvas-left">
  
		       <!-- sidebar -->
		       <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		           <ul class="nav">
		 						<%= render 'layouts/navigation_links' %><br />    
		           </ul>
		       </div>

					 	<div class="col-xs-12 col-sm-9">
						 <%= yield %>
						</div>
		     </div><!--/.row-->
		   </div><!--/.container-->
			</div><!--/.page-container-->
    
    </main>
  </body>
</html>
